<!doctype html>
<html>
  <head>
    <title><%= t("goodmin.title") %></title>
    <%= render "goodmin/application/javascript" %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= yield :head %>
  </head>
  <body data-controller="navigation">
    <%= yield :body %>
  </body>
</html>
