<% content_for :body do %>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
    <div class="container">
      <%= link_to t("goodmin.title"), root_path, class: "navbar-brand" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#goodmin-navbar-collapse" aria-controls="goodmin-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="goodmin-navbar-collapse">
        <ul class="navbar-nav me-auto">
          <%= render 'goodmin/shared/navigation' %>
        </ul>
        <ul class="navbar-nav">
          <%= render 'goodmin/shared/navigation_aside' %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= render "layouts/goodmin/content" %>
  </div>
<% end %>

<%= render "layouts/goodmin/layout" %>
