<%= form_for(@admin_user, url: godmin_session_path) do |f| %>
  <div class="form-group">
    <%= f.label @admin_user.class.login_column %>
    <%= f.text_field @admin_user.class.login_column, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <%= f.submit translate_scoped("sessions.sign_in"), class: "btn btn-block btn-primary" %>
<% end %>
