<% if @resource_service.filter_map.present? %>
  <div id="filters" class="card">
    <div class="card-body">
      <%= filter_form do |f| %>
        <%= hidden_field_tag :scope, params[:scope] %>
        <%= hidden_field_tag :order, params[:order] %>

        <% @resource_service.filter_map.each do |name, options| %>
          <%= partial_override "#{controller_path}/filters/#{name}", f: f, name: name, options: options do %>
            <%= f.filter_field(name, options) %>
          <% end %>
        <% end %>

        <div class="mb-3 float-end">
          <label class="form-label">&nbsp;</label><br>
          <%= f.apply_filters_button %>
          <%= f.clear_filters_button %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
