<% form_tabs = @resource_service.form_tabs %>
<% if form_tabs.any? %>
  <% active_tab = form_tabs.find { |t| t.key == params[:tab] } || form_tabs.first %>
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked">
        <% form_tabs.each do |tab| %>
          <li class="<%= "active" if tab == active_tab %>">
            <%= link_to tab.title, request.path + "?tab=#{CGI.escape(tab.key)}" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-10">
      <%= form_for @resource do |f| %>
        <%= hidden_field_tag :tab, active_tab.key %>
        <%= render_form_nodes(active_tab.children, f) %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= form_for @resource do |f| %>
    <%= render_form_nodes(@resource_service.form_nodes, f) %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
<% end %>
