<%= render partial: "breadcrumb" %>
<%= render partial: "scopes" %>
<%= render partial: "filters" %>

<div data-controller="batch-actions">
  <%= render partial: "actions" %>
  <%= render partial: "table" %>
</div>

<%= render partial: "pagination" %>
