<% if @resource_service.filter_map.present? %>
  <div id="filters" class="panel panel-default">
    <div class="panel-body">
      <%= filter_form do %>
        <%= hidden_field_tag :scope, params[:scope] %>
        <%= hidden_field_tag :order, params[:order] %>

        <% @resource_service.filter_map.each do |name, options| %>
          <%= partial_override "#{controller_path}/filters/#{name}", name: name, options: options do %>
            <%= filter_field(name, options) %>
          <% end %>
        <% end %>

        <div class="form-group pull-right">
          <label class="control-label">&nbsp;</label><br>
          <%= submit_tag translate_scoped("filters.buttons.apply") %>
          <%= link_to translate_scoped("filters.buttons.clear"), url_for(params.to_unsafe_h.slice(:scope, :order)), class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
