<div id="table" class="table-responsive">
  <table class="table table-bordered table-hover">
    <caption class="hide">
      <%= @resource_class.model_name.human(count: 2) %>
    </caption>
    <thead>
      <tr>
        <% if @resource_service.include_batch_actions? %>
          <th></th>
        <% end %>
        <% @resource_service.attrs_for_index.each do |attribute| %>
          <th class="column-<%= attribute.name %>">
            <%= column_header attribute %>
          </th>
        <% end %>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @resources.each do |resource| %>
        <tr data-resource-id="<%= resource.id %>" class="<%= "highlight" if flash[:updated_ids] && flash[:updated_ids].include?(resource.id) %>">
          <% if @resource_service.include_batch_actions? %>
            <td align="center"
                data-batch-actions-target="checkboxContainer"
                data-action="click->batch-actions#containerClick">
              <%= check_box_tag "batch_action[items][#{resource.id}]", nil, nil,
                data: { batch_actions_target: "checkbox", action: "change->batch-actions#checkboxChange" } %>
            </td>
          <% end %>
          <% @resource_service.attrs_for_index.each do |attribute| %>
            <td>
              <% field = attribute.to_field(record: resource, resource_service: @resource_service) %>
              <%= partial_override "#{controller_path}/columns/#{attribute.name}", resource: resource do %>
                <%= render partial: field.class.partial_index, locals: { field: field } %>
              <% end %>
            </td>
          <% end %>
          <td>
            <%= render partial: "#{controller_path}/columns/actions", locals: { resource: resource } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
