<fieldset data-controller="nested-form">
  <legend><%= field.attribute.to_s.humanize %></legend>

  <template data-nested-form-target="template">
    <%= f.fields_for field.attribute, field.new_record, child_index: "NEW_RECORD" do |nested_f| %>
      <div class="nested-form-wrapper card mb-3" data-new-record="true">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h4 class="mb-0"><%= field.attribute.to_s.singularize.humanize %></h4>
          <%= link_to "Remove", "#", class: "btn btn-sm btn-outline-secondary", data: { action: "nested-form#remove" } %>
        </div>
        <div class="card-body">
          <%= render_form_nodes_for(field.nested_form_nodes, nested_f, record: field.new_record, resource_service: field.associated_service) %>
        </div>
      </div>
    <% end %>
  </template>

  <%= f.fields_for field.attribute do |nested_f| %>
    <div class="nested-form-wrapper card mb-3">
      <div class="card-header d-flex justify-content-between align-items-center">
        <%= nested_f.hidden_field :_destroy %>
        <h4 class="mb-0"><%= field.attribute.to_s.singularize.humanize %></h4>
        <%= link_to "Remove", "#", class: "btn btn-sm btn-outline-secondary", data: { action: "nested-form#remove" } %>
      </div>
      <div class="card-body">
        <%= render_form_nodes_for(field.nested_form_nodes, nested_f, record: nested_f.object, resource_service: field.associated_service) %>
      </div>
    </div>
  <% end %>

  <%# New records are inserted before this marker via the Stimulus controller %>
  <div data-nested-form-target="target"></div>

  <%= link_to "Add #{field.attribute.to_s.singularize.humanize}", "#", class: "btn btn-sm btn-outline-secondary", data: { action: "nested-form#add" } %>
</fieldset>
